@model kursach.Models.Dancer

@{
    ViewBag.Title = "Удаление танцора";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление записи</h2>

<h3>Вы уверены, что хотите удалить этого танцора?Назад ничего не вернешь хехе</h3>
<div>
    <h4>Информация о танцоре:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofBirthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash"></i> Удалить
            </button>
            @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
